
body {
    margin:0;
    padding:0;
}
body, th, td {
    font:12px Verdana,sans-serif;
}

.base {
    width: 800px;
    margin: 20px auto;

}

.header {
    height: 26px;
    padding: 6px;
    border: 1px solid black;
}

.header div {
    float: left;
    margin-right: 20px;
}

.resultados {
    margin-top: 20px;
}

.resultado {
    margin-top: 10px;
    background-color: #f6f6f6;
    padding: 6px;
}