<!DOCTYPE html>
<html>
<head>
    <title>Telelista Bla BLa Bla</title>
    <link href="{{ MEDIA_URL }}styles.css" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}scripts.js" type="text/javascript"></script>

</head>
<body>

<div class="base">
    <div class="header">

        <div>
            <label>
                Escolha a atividade:
                <select id="atividade">
                    {% for atividade in atividades %}
                    <option value="{{ atividade }}">{{ atividade|upper }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <div>
            <label>
                Escolha a cidade:
                <select id="localidade">
                    {% for localidade in localidades %}
                    <option value="{{ localidade.id }}-{{ localidade.uf }}">{{ localidade.cidade|upper }} - {{ localidade.uf|upper }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <div>
            <button id="buscar">Buscar</button>
        </div>
    </div>

    <div class="resultado" id="resultado" style="display: none;">
        <div style="float: left;"><b class="nome"></b></div><div style="float: right;"><b class="telefone"></b></div>
        <div style="clear: both;"></div>
        <span style="font-size: 11px;"><span class="endereco_1"></span><br /><span class="endereco_2"></span></span>
    </div>

    <div class="resultados">

    </div>

</div>

</body>
</html>